<%- include('partials/start.ejs'); -%>
<body>
  <header>
    <nav>
      <div class="logo-container">
        <img src="logo.png" alt="Revenue Mate Logo" class="logo">
        <span class="brand-name">Revenue Mate</span>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">SignUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="card">
      <div class="homepagetext">
        <h1>Worried about your business finances?</h1>
        <h1>Welcome to Revenue Mate, your one-stop solution!</h1>
        <h2>Streamline Your Sales, Simplify Your Success</h2>
      </div>
    </div>
    <div class="homepageimage">
      <img src="homepageimage.png" alt="Homepage Image">
    </div>
  </main>
  <!-- <footer class = "footer">
    Copyright © <%= new Date().getFullYear() %>
  </footer> -->
</body>
</html>
