/* inventory.css */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: #000000;
  padding: 10px 0;
  box-shadow: 4px 4px 4px #3700b3;
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.brand-name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

nav ul li a:hover {
  color: #2196f3;
}

main.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 80px; /* Adjusted to prevent content from being hidden behind the fixed header */
  padding: 20px;
  box-sizing: border-box;
}

.left-half {
  width: 50%; /* Adjust the width to half of the container */
}

.right-half {
  width: 50%; /* Adjust the width to half of the container */
  padding-left: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  color: #ffffff;
}

table th {
  background-color: gray;
  color: black;
}

button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 10px; /* Add some margin to separate the button from the table */
}

button:hover {
  background-color: #f1f1f1;
  color: black;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: white;
  background-color: #000000;
}

footer{
  font-family: "Lato" sans-serif;
  color: #ffffff;
  align-items: flex-end;
  justify-content: flex-end;
}

footer {
  font-family: "Lato", sans-serif; 
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed; 
  bottom: 0; 
  width: 100%;
  text-shadow:2px,  #2196f3;
  padding: 10px;
  margin-right: 10px;
}